# String Based Assignment Problem

In [3]:
'''Write a program to reverse a string
'''
 
str = 'Basant'
for i in range (len(str)-1,-1,-1):
    print (str[i],end = '' )

tnasaB

In [4]:
'''Check if a string is a palindrome
'''
str = 'Basant'
for i in range (len(str)-1,-1,-1):
    print (str[i],end = '' )

tnasaB

In [5]:
'''Convert a string to uppercase
'''

oldstr='Basant'
newstr=''
newstr= oldstr.upper () 
print (newstr)

BASANT

In [6]:
'''
Convert a string to lowercase.
'''
olsdstr='BASANT'
newstr= ''
newstr=oldstr.lower ()
print (newstr)

basant

In [7]:
''' length of string without using len function 
'''

s = {1, 2, 3, 4, 5}
count = 0
for _ in s:
    count += 1
print(count)

5

In [8]:
'''Clear all elements from a set:
'''
s = {1, 2, 3, 4, 5}
s.clear()

In [9]:
# Create a set of even numbers from 1 to 10
even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

In [10]:
# Create a set of odd numbers from 1 to 10
odd_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

In [11]:
# Find the union of two sets
union_set = even_set | odd_set
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [12]:
# Find the intersection of two sets
intersection_set = even_set & odd_set
print(intersection_set)

set()

In [13]:
# Find the difference between two sets
difference_set = even_set - odd_set
print(difference_set)

{2, 4, 6, 8, 10}

In [14]:
# Check if a set is a subset of another set
print(odd_set.issubset(union_set))

True

In [15]:
# Check if a set is a superset of another set
print(union_set.issuperset(odd_set))

True

In [16]:
# Create a set from a list
lst = [1, 2, 3, 4, 5]
set_from_list = set(lst)
print(set_from_list)

{1, 2, 3, 4, 5}

In [17]:
# Convert a set to a list
set_to_list = list(set_from_list)
print(set_to_list)

[1, 2, 3, 4, 5]

In [18]:
# Remove a random element from a set
set_from_list.pop()
print(set_from_list)

{2, 3, 4, 5}

In [19]:
# Pop an element from a set
set_from_list.pop()
print(set_from_list)

{3, 4, 5}

In [20]:
# Check if two sets have no elements in common
disjoint_sets = even_set.isdisjoint(odd_set)
print(disjoint_sets)

True

In [21]:
# Find the symmetric difference between two sets
symmetric_difference_set = even_set ^ odd_set
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
# Update a set with elements from another set
even_set.update(odd_set)
print(even_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [23]:
# Create a set of the first 5 prime numbers
prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

In [24]:
# Check if two sets are identical
set1 = {1, 2, 3}
set2 = {3, 2, 1}
print(set1 == set2)

True

In [25]:
# Create a frozen set
frozen_set = frozenset([1, 2, 3, 4])
print(frozen_set)

frozenset({1, 2, 3, 4})

In [26]:
# Check if a set is disjoint with another set
disjoint_check = set1.isdisjoint(set2)
print(disjoint_check)

False

In [27]:
# Create a set of squares of numbers from 1 to 5
square_set = {x ** 2 for x in range(1, 6)}
print(square_set)

{1, 4, 9, 16, 25}

In [28]:
# Filter out all even numbers from a set
filtered_set = {x for x in square_set if x % 2 != 0}
print(filtered_set)

{1, 9, 25}

In [29]:

# Multiply all elements in a set by 2
multiplied_set = {x * 2 for x in square_set}
print(multiplied_set)

{32, 2, 8, 18, 50}

In [30]:
# Create a set of random numbers
import random
random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{73, 52, 37, 33}

In [31]:
# Check if a set is empty
empty_set = set()
print(len(empty_set) == 0)

True

In [32]:
# Create a nested set (hint: use frozenset)
nested_set = {frozenset([1, 2]), frozenset([3, 4])}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [33]:
# Remove an element from a set using the discard method
set1.discard(1)
print(set1)

{2, 3}

In [34]:
# Compare two sets
print(set1 == set2)

False

In [35]:
# Create a set from a string
string_set = set("hello")
print(string_set)

{'e', 'l', 'o', 'h'}

In [36]:
# Convert a set of strings to a set of integers
string_set = {"1", "2", "3"}
integer_set = {int(x) for x in string_set}
print(integer_set)

{1, 2, 3}

In [ ]:
# Convert a set of integers to a set of strings

intset = {1, 2, 3, 4, 5}


strset = {str(change) for change in intset}

print(strset)

In [42]:
# Create a set from a tuple
tuple_set = set((1, 2, 3, 4))
print(tuple_set)

{1, 2, 3, 4}

In [43]:
# Convert a set to a tuple
set_to_tuple = tuple(tuple_set)
print(set_to_tuple)

(1, 2, 3, 4)

In [44]:
# Find the maximum value in a set
print(max(tuple_set))

4

In [ ]:
# Create a set from user input
user_input = set(map(int, input("Enter numbers separated by space: ").split()))
print(user_input)

In [45]:
# Check if the intersection of two sets is empty
set3 = {10, 11, 12}
print(set3.isdisjoint(set1))

True

In [46]:
# Create a set of the first 5 Fibonacci numbers
fibonacci_set = {0, 1, 1, 2, 3}
print(fibonacci_set)

{0, 1, 2, 3}

In [47]:
# Remove duplicates from a list using sets
lst_with_duplicates = [1, 2, 2, 3, 4, 4]
set_without_duplicates = set(lst_with_duplicates)
print(set_without_duplicates)

{1, 2, 3, 4}

In [48]:
# Check if two sets have the same elements, regardless of their count
set4 = {1, 2, 3}
set5 = {3, 2, 1}
print(set4 == set5)

True

In [49]:
# Create a set of the first n powers of 2
n = 5
power_set = {2 ** x for x in range(n)}
print(power_set)

{1, 2, 4, 8, 16}

In [50]:
# Find the common elements between a set and a list
common_elements = set4.intersection(lst)
print(common_elements)

{1, 2, 3}

In [51]:
# Create a set of the first n triangular numbers
triangular_set = {n * (n + 1) // 2 for n in range(1, 6)}
print(triangular_set)

{1, 3, 6, 10, 15}

In [52]:
# Check if a set contains another set as a subset
print(set4.issubset(set5))

True

In [53]:
# Create a set of alternating 1s and 0s of length n
n = 6
alternating_set = {i % 2 for i in range(n)}
print(alternating_set)

{0, 1}

In [54]:
# Merge multiple sets into one
merged_set = set1 | set2 | set4
print(merged_set)

{1, 2, 3}